<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <style type="text/css">
        TABLE {
            width: 1000px;
            border-collapse: collapse;
        }
        TD, TH {
            padding: 20px;
            border: 1px solid black;
        }
        TH {
            background: #b0e0e6;
        }
    </style>
</head>
<body>
<div th:switch="${booksSearch}">
    <h2 th:case="null">Books not found!</h2>
    <div th:case="*">
        <h2 th:text="'Title/genre/author =' + ${booksSearch.get(0).bookName} + ', found ' + ${booksSearch.size()}">Books</h2>
        <form action="#" th:object="${bookSearch}" th:action="@{/book-search}" method="get">
            <label for="request">Title of the book</label>
            <input type="text" th:field="*{bookName}" id="request" placeholder="Title or genre">
            <input type="submit" value="Search book">
        </form>
        </br>
        <form th:action="@{/books}">
            <button>Back</button>
        </form>
        </br>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Author</th>
                <th>Publication</th>
                <th>Count pages</th>
                <th>Price</th>
                <th colspan="2">Optional</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${booksSearch}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.bookName}"></td>
                <td th:text="${book.genre}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.publication}"></td>
                <td th:text="${book.countPages}"></td>
                <td th:text="${book.price}"></td>
                <td><a th:href="@{book-update/{id}(id=${book.id})}">Edit</a></td>
                <td><a th:href="@{book-delete/{id}(id=${book.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/book-create">Create book</a></p>
</div>
</body>
</html>