<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create book</title>
</head>
<body>
<form action="#" th:action="@{/book-create}" th:object="${book}" method="post">
    <label for="bookName">Book Name</label>
    <input type="text" th:field="*{bookName}" id="bookName" placeholder="Book Name">
    <label for="genre">Author</label>
    <input type="text" th:field="*{genre}" id="genre" placeholder="Genre">
    <input type="submit" value="Create Book">
</form>
</body>
</html>