<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <style type="text/css">
        TABLE {
            width: 1000px;
            border-collapse: collapse;
        }
        TD, TH {
            padding: 20px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }
        TH {
            background: #b0e0e6;
        }
    </style>
</head>
<body>
<div th:switch="${books}">
    <h2 th:case="null">No Books found!</h2>
    <div th:case="*">
        <h2>Books</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Book name</th>
                <th>Genre</th>
                <th>Author</th>
                <th>Publication</th>
                <th>Count pages</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.bookName}"></td>
                <td th:text="${book.genre}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.publication}"></td>
                <td th:text="${book.countPages}"></td>
                <td th:text="${book.price}"></td>
                <td><a th:href="@{book-update/{id}(id=${book.id})}">Edit</a></td>
                <td><a th:href="@{book-delete/{id}(id=${book.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/book-create">Create book</a></p>
</div>
</body>
</html>